<html>
  <head>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    
    <link rel="stylesheet" href="/css/style.css"/>

    <script src="/js/app.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="col-md-3 side-menu">
        <div class="menu_simple">
        <ul>
            <li><a href="/">Home</a></li>
          <% @posts.each do |post| %>
            <li><a href="/posts/<%= post[:file] %>"><%= post[:title] %></a></li>
          <% end %>
        </ul>
        </div>
      </div>
      <div class="col-md-9">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
